@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="custom-container">
    <h5 class="page-title text-light">Movie | Details</h5>

    <div>
        <hr />
        <dl class="row not-a-table text-light">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt class="col-sm-4">
                Director
            </dt>
            <dd class="col-sm-8">
                @ViewBag.DirectorName
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-small btn-secondary" asp-action="Edit" asp-route-id="@Model.ID" >Edit</a> |
        <a class="text-light" asp-action="Index" >Back to List</a>
    </div>
</div>